/* Start Variables */
:root {
    /* Fonts */
    --f-font: 'Outfit', sans-serif;
    /* Colors - Light Mode */
    --i-color: hsl(212, 45%, 89%);
    --ii-color: hsl(220, 15%, 55%);
    --iii-color: hsl(218, 44%, 22%);
}
/* End Variables */

/* Start Global Rules */
*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{background-color: var(--i-color);}
body{
    font-family: var(--f-font);
    height: 100vh; display: flex; justify-content: center; align-items: center;
}  
/* Container */
.container{margin: 0 auto; width: 300px; }  
a, span{display: inline-block;}
p{font-size: 15px;}
/* End Global Rules */

section{box-shadow: 0 0 1.675rem #00000014;}
section .container{
    background-color: white; border-radius: 20px;
     padding: 18px;
    display: flex; flex-direction: column;
}
section .container .img-box{
    margin-bottom: 20px;
}
section .container .img-box img{
    border-radius: 10px;
    width: 100%; display: block;
}
section .container .info-box{    
    text-align: center;
}
section .container .info-box h3{
    margin-bottom: 20px; color: var(--iii-color);
    font-size: 22px; font-weight: 700;
}
section .container .info-box p{
    color: var(--ii-color); font-weight: 400;
    margin-bottom: 20px;
}